{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container">
        <div class="header-wrapper">
            <button class="btn-back" onclick="window.history.back()">⬅</button>
            <h2>Editar Produto</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-submit" type="submit">Salvar</button>
        </form>
    </div>
</body>

</html>